/**
 * FileShare system
 *
 * @author Pierre HUBERT
 */
html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	background-color: darkslategrey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: courier;
}

form {
	text-align: center;
}

.error {
	font-weight: bold;
	color: darkred;
}